@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.Models;
@model List<ContentCreate1GetContentTypeGroup>
@{
    ViewBag.Title = "Create content";
}
<h1><img src="~/Images/Icons/content.png" height="60" width="60" /> Create content</h1>
@foreach (var item in Model)
{
    <div class="h2">@item.Name</div>
    @foreach (var item2 in item.Types)
    {
<div>
    <a asp-controller="Content" asp-action="Create2" asp-route-Id="@item2.Id.ToString()"><img src="~/Images/Icons/open.png" title="@item2.name" height="20" width="20" />@item2.name</a>
    
</div>
    }
}