
@{
    ViewData["Title"] = "DemoData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Layout = "_LayoutAdmin";
}

    <h1><img src="~/Images/Icons/DemoData.jpg" title="Demo data" height="40" width="40" /> @ViewBag.Terms[0]</h1>

    <a asp-controller="SetupWizard" asp-action="Index">
        <img src="~/Images/Icons/SetupWizard.png" title="Setup wizard" height="20" width="20" /> @ViewBag.Terms[1]
    </a>