
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Build data</h1>
@*<form>
    <button asp-action="DemoData">Add demo data</button>
    <button asp-action="MasterData">Add master data</button>
</form>*@

<div>
    <a asp-controller="SetupWizard" asp-action="MasterData">
        <img src="~/Images/Icons/MasterData.png" title="Content type" height="20" width="20" /> Master data
    </a>
</div>
<div>
Login as eplegrand@gmail.com    </div>
<div>
    <a asp-controller="SetupWizard" asp-action="DemoData">
        <img src="~/Images/Icons/DemoData.jpg" title="Content type" height="20" width="20" /> Demo data
    </a>
</div><div>
    <a asp-controller="SetupWizard" asp-action="DemoDataNL">
        <img src="~/Images/Icons/DemoData.jpg" title="Content type" height="20" width="20" /> Demo data NL
    </a>
</div>

