@model IEnumerable<IdentityRole>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "All roles";
}
<h1>All roles</h1>
@if (Model.Any())
{
<table class="table table-bordered">

    <thead class="thead-dark">
        <tr><th>ID</th><th>Name</th><th>Open</th></tr>
    </thead>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>
                <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">Open</a>
                <a asp-controller="Administration" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
            </td>
        </tr>
    }
</table>
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
        </div>
    </div>
}
<div class="card-body">
    <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="CreateRole">
        Create role
    </a>
</div>
