@model SuHomeIndexAdminGetModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_LayoutAdmin";
}
    <div class="text-center">
        @*<ejs-menu id="menu" items="ViewBag.menuItems"></ejs-menu>*@
<div>
    <h1>Missing language information</h1>
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                @foreach (var x in Model.languages)
                {
                    <th scope="col">@x.LanguageName</th>

                }
            </tr>
        </thead>
            @foreach (var dbtable in Model.Tables)
            {
                <tr>
                    <td align="left">@dbtable.TableDescription</td>
                    @foreach (var NOOfItems in dbtable.SetOfNoOfRecords)
                    {
                        <td>@NOOfItems.NoOfRecords</td>
                    }
                </tr>
            }

</table>
</div>
        <a asp-controller="SetupWizard" asp-action="Index">
            <img src="~/Images/Icons/SetupWizard.png" title="Setup wizard" height="20" width="20" /> Setup wizard
        </a>


    </div>
