@inject SignInManager<SuUserModel> signInManager
@inject UserManager<SuUserModel> userManager
@inject RoleManager<IdentityRole> roleManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Student Union 1.5</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
</head>
<body>
    <header class="header" style="height=148">
        <h1 style="color:#EBEBF2" >
<img src="~/Images/Icons/student.png" height="66" width="66" /> Student Union 1.5</h1>

    </header>
    <img src="~/Images/menu.png" />
    <div class="col-12 text-right">
                @if (signInManager.IsSignedIn(User))
                {
                        <form method="post" asp-action="Logout" asp-controller="User">
                            <button type="submit" class="nav-link btn btn-link py-0 right float-right right text-right">Logout @User.Identity.Name</button>
                        </form>
                }
                else
                {
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                }
          
            <a asp-controller="Preference" asp-action="Index">
                <img src="~/Images/Icons/preference.png" title="Preference" height="20" width="20" />
            </a>
    </div>
    <div class="container">
        <div class="row col-12">
            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Super admin")))
            {
                <div class="border-dark col-sm-2">
                    <table>
                        <tr>
                            <td>
                                <a asp-controller="Classification" asp-action="Index">
                                    <img src="~/Images/Icons/Classifications.png" title="Classifications" height="20" width="20" /> Classification
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Classification" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" title="Add" height="20" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="ContentType" asp-action="Index">
                                    <img src="~/Images/Icons/ContentType.png" title="Content type" height="20" width="20" /> Content type
                                </a>
                            </td>
                            <td>
                                <a asp-controller="ContentType" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add content type" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Organization" asp-action="Index">
                                    <img src="~/Images/Icons/Organization.png" title="Organization" height="20" width="20" /> Organization
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Organization" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add organization" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="OrganizationType" asp-action="Index">
                                    <img src="~/Images/Icons/OrganizationTYpe.png" title="Organization type" height="20" width="20" /> Organization type
                                </a>
                            </td>
                            <td>
                                <a asp-controller="OrganizationType" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add organization type" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Page" asp-action="Index">
                                    <img src="~/Images/Icons/pages.jpg" title="Page" height="20" width="20" /> Pages
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Page" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add page" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="PageType" asp-action="Index">
                                    <img src="~/Images/Icons/pageType.jpg" title="Page type" height="20" width="20" /> Page types
                                </a>
                            </td>
                            <td>
                                <a asp-controller="PageType" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add page type" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Project" asp-action="Index">
                                    <img src="~/Images/Icons/Project.png" title="Project" height="20" width="20" /> Projects
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Project" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add project" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="PageSectionType" asp-action="Index">
                                    <img src="~/Images/Icons/sectionType.png" title="Section type" height="20" width="20" /> Section types
                                </a>
                            </td>
                            <td>
                                <a asp-controller="PageSectionType" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add section type" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="User" asp-action="Index">

                                    <img src="~/Images/Icons/User.png" title="User" height="20" width="20" /> Users
                                </a>
                            </td>
                            <td>
                                <a asp-controller="User" asp-action="Create">

                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add user" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Role" asp-action="Index">
                                    <img src="~/Images/Icons/Role.png" title="Role" height="20" width="20" /> Roles
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Role" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add role" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="ProcessTemplate" asp-action="Index">
                                    <img src="~/Images/Icons/process.png" title="Role" height="20" width="20" /> Process templates
                                </a>
                            </td>
                            <td>
                                <a asp-controller="ProcessTemplate" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add process template" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="ProcessTemplateGroup" asp-action="Index">
                                    <img src="~/Images/Icons/processtemplategroup.png" title="Role" height="20" width="20" /> Process template groups
                                </a>
                            </td>
                            <td>
                                <a asp-controller="ProcessTemplateGroup" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add process template group" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="ProcessTemplateFieldType" asp-action="Index">
                                    <img src="~/Images/Icons/FieldType.png" title="Role" height="20" width="20" /> Process template field type
                                </a>
                            </td>
                            <td>
                                <a asp-controller="ProcessTemplateFieldType" asp-action="Create">
                                    <img src="~/Images/Icons/plus2.png" height="20" title="Add process template field type" width="20" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="UserOrganizationType" asp-action="Index">
                                    <img src="~/Images/Icons/OrganizationTYpe.png" title="User organization type" height="20" width="20" /> User organization type
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="UserProjectType" asp-action="Index">
                                    <img src="~/Images/Icons/Project.png" title="User project type" height="20" width="20" /> User project type
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="UserRelationType" asp-action="Index">
                                    <img src="~/Images/Icons/relation.png" title="User relation type" height="20" width="20" /> User relation type
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Language" asp-action="Index">
                                    <img src="~/Images/Icons/languages.jpg" title="Language" height="20" width="20" /> Languages
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <a asp-controller="SetupWizard" asp-action="Index">
                                    <img src="~/Images/Icons/SetupWizard.png" title="Setup wizard" height="20" width="20" /> Setup wizard
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <a asp-controller="UITerm" asp-action="Index">
                                    <img src="~/Images/Icons/Terms.png" title="Terms" height="20" width="20" /> Terms
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Setting" asp-action="Index">
                                    <img src="~/Images/Icons/Settings.png" title="Settings" height="20" width="20" /> Settings
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            }

            <div class="col-sm-8">

                @RenderBody()
            </div>
            <div class="col-sm-2 float-sm-right">
                <table class="table-light">
                    <tr>
                    </tr>
                    <tr>
                        <td>
                            <a asp-controller="Content" asp-action="Create">
                                <img src="~/Images/Icons/plus2.png" title="Add content" height="20" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="FrontPage" asp-action="Index">
                                <img src="~/Images/Icons/content.png" title="Content" height="20" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="FrontPage" asp-action="Index">
                                Content
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-controller="ContentType" asp-action="Create">
                                <img src="~/Images/Icons/plus2.png" height="20" title="Add content type" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="ContentType" asp-action="Index">
                                <img src="~/Images/Icons/calendar.png" title="Calendar" height="20" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="ContentType" asp-action="Index">
                                Calendar
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-controller="Organization" asp-action="Create">
                                <img src="~/Images/Icons/plus2.png" height="20" title="Add organization" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Organization" asp-action="Index">
                                <img src="~/Images/Icons/Chat.png" title="Chat" height="20" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Classification" asp-action="Index">
                                Chat
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-controller="OrganizationType" asp-action="Create">
                                <img src="~/Images/Icons/plus2.png" height="20" title="Add organization type" width="20" />
                            </a>
                        </td>
                        <td>

                            <a asp-controller="OrganizationType" asp-action="Index">
                                <img src="~/Images/Icons/conference.png" title="Conference" height="20" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Classification" asp-action="Index">
                                Converence
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-controller="PageType" asp-action="Create">
                                <img src="~/Images/Icons/plus2.png" height="20" title="Add page type" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="PageType" asp-action="Index">
                                <img src="~/Images/Icons/favorites.png" title="Favorites" height="20" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Classification" asp-action="Index">
                                Favorites
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-controller="Project" asp-action="Create">
                                <img src="~/Images/Icons/plus2.png" height="20" title="Add project" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Project" asp-action="Index">
                                <img src="~/Images/Icons/game.png" title="Game" height="20" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Classification" asp-action="Index">
                                Game
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-controller="FrontProcess" asp-action="Index">
                                <img src="~/Images/Icons/plus2.png" height="20" title="Create process" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="FrontProcess" asp-action="Index">
                                <img src="~/Images/Icons/process.png" title="Process" height="20" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="FrontProcess" asp-action="Index">
                                Process
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-controller="User" asp-action="Create">

                                <img src="~/Images/Icons/plus2.png" height="20" title="Add user" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="User" asp-action="Index">

                                <img src="~/Images/Icons/Todo.png" title="To do" height="20" width="20" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Classification" asp-action="Index">
                                Todo
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h4>Search</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Climate
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <select class="col-2"></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Crops
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <select class="col-2"></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Soil
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <select class="col-2"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Content type
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <select class="col-2"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button>Search</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - StudentUnion0105 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
